In [122]:
#Importación de modulos

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType,DoubleType
from pyspark.sql.functions import col,when,lit,sum, avg, max

from datetime import datetime,timedelta

In [2]:
#Creamos las session de apache spark en una variable

spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [81]:


data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [84]:
from pyspark.sql.types import *
ruta = 'gs://dmc_datalake_dde_11_javp/archivos/persona.data'

df_columns = StructType([
StructField("ID", StringType(),True),
StructField("NOMBRE", StringType(),True),
StructField("TELEFONO", StringType(),True),
StructField("CORREO", StringType(),True),
StructField("FECHA_INGRESO", StringType(),True),
StructField("EDAD", IntegerType(),True),
StructField("SALARIO", DoubleType(),True),
StructField("ID_EMPRESA", StringType(),True),
])


df = spark.read.format("CSV").option("header","true").option("delimiter","|").schema(df_columns).load(ruta)

In [13]:
display(df)

DataFrame[ID: string, NOMBRE: string, TELEFONO: string, CORREO: string, FECHA_INGRESO: string, EDAD: int, SALARIO: double, ID_EMPRESA: string]

In [14]:
df.show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [8]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- TELEFONO: string (nullable = true)
 |-- CORREO: string (nullable = true)
 |-- FECHA_INGRESO: string (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- SALARIO: double (nullable = true)
 |-- ID_EMPRESA: string (nullable = true)

In [9]:
df.select("NOMBRE","FECHA_INGRESO").show(4)

+---------+-------------+
|   NOMBRE|FECHA_INGRESO|
+---------+-------------+
|     Carl|   2004-04-23|
|Priscilla|   2019-02-17|
|  Jocelyn|   2002-08-01|
|    Aidan|   2018-11-06|
+---------+-------------+
only showing top 4 rows

In [10]:
df.select(df.NOMBRE,df.FECHA_INGRESO).show()

+---------+-------------+
|   NOMBRE|FECHA_INGRESO|
+---------+-------------+
|     Carl|   2004-04-23|
|Priscilla|   2019-02-17|
|  Jocelyn|   2002-08-01|
|    Aidan|   2018-11-06|
|  Leandra|   2002-10-10|
|     Bert|   2017-04-25|
|     Mark|   2006-04-21|
|    Jonah|   2017-10-07|
|    Hanae|   2003-05-25|
|   Cadman|   2001-05-19|
|  Melyssa|   2008-10-14|
|   Tanner|   2011-05-10|
|   Trevor|   2010-08-06|
|    Allen|   2005-03-07|
|    Wanda|   2005-08-21|
|    Alden|   2006-12-05|
|     Omar|   2014-06-24|
|     Owen|   2002-04-09|
|    Laura|   2017-03-09|
|    Emery|   2004-02-27|
+---------+-------------+
only showing top 20 rows

In [13]:
df.select(df["Nombre"],df["Fecha_IngresO"]).show()

+---------+-------------+
|   Nombre|Fecha_IngresO|
+---------+-------------+
|     Carl|   2004-04-23|
|Priscilla|   2019-02-17|
|  Jocelyn|   2002-08-01|
|    Aidan|   2018-11-06|
|  Leandra|   2002-10-10|
|     Bert|   2017-04-25|
|     Mark|   2006-04-21|
|    Jonah|   2017-10-07|
|    Hanae|   2003-05-25|
|   Cadman|   2001-05-19|
|  Melyssa|   2008-10-14|
|   Tanner|   2011-05-10|
|   Trevor|   2010-08-06|
|    Allen|   2005-03-07|
|    Wanda|   2005-08-21|
|    Alden|   2006-12-05|
|     Omar|   2014-06-24|
|     Owen|   2002-04-09|
|    Laura|   2017-03-09|
|    Emery|   2004-02-27|
+---------+-------------+
only showing top 20 rows

In [16]:
df.select(col("nombre").alias("Nombrecito"),col("fecha_ingreso")).show(4)

+----------+-------------+
|Nombrecito|fecha_ingreso|
+----------+-------------+
|      Carl|   2004-04-23|
| Priscilla|   2019-02-17|
|   Jocelyn|   2002-08-01|
|     Aidan|   2018-11-06|
+----------+-------------+
only showing top 4 rows

In [17]:
df.select(df.colRegex("`^.*name*`")).show()

++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
++
only showing top 20 rows

In [18]:
df_nuevo = df.select(col("nombre"),col("fecha_ingreso"))

In [19]:
df_nuevo.show()

+---------+-------------+
|   nombre|fecha_ingreso|
+---------+-------------+
|     Carl|   2004-04-23|
|Priscilla|   2019-02-17|
|  Jocelyn|   2002-08-01|
|    Aidan|   2018-11-06|
|  Leandra|   2002-10-10|
|     Bert|   2017-04-25|
|     Mark|   2006-04-21|
|    Jonah|   2017-10-07|
|    Hanae|   2003-05-25|
|   Cadman|   2001-05-19|
|  Melyssa|   2008-10-14|
|   Tanner|   2011-05-10|
|   Trevor|   2010-08-06|
|    Allen|   2005-03-07|
|    Wanda|   2005-08-21|
|    Alden|   2006-12-05|
|     Omar|   2014-06-24|
|     Owen|   2002-04-09|
|    Laura|   2017-03-09|
|    Emery|   2004-02-27|
+---------+-------------+
only showing top 20 rows

In [21]:
df.select(col("nombre").alias("name"),col("fecha_ingreso")).show(4)

+---------+-------------+
|     name|fecha_ingreso|
+---------+-------------+
|     Carl|   2004-04-23|
|Priscilla|   2019-02-17|
|  Jocelyn|   2002-08-01|
|    Aidan|   2018-11-06|
+---------+-------------+
only showing top 4 rows

In [22]:
df.withColumn("SALARIO",col("SALARIO").cast("INTEGER")).show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|  20095|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34|   9298|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|  10853|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29|   3387|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|  22102|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70|   7800|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52|   8112|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|  17040|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69|   6834|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19|   7996|         7|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [23]:
df.withColumn("SALARIO",col("SALARIO")*100).show()

+---+---------+--------------+--------------------+-------------+----+---------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|  SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+---------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|2009500.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 929800.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|1085300.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 338700.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|2210200.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 780000.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 811200.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|1704000.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 683400.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 799600.0|         7|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 491300.0|         8|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|1994300.0|         8|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 950100.0|         5|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|1628900.0|         2|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 153900.0|         5|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 337700.0|         2|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 685100.0|         6|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 475900.0|         7|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|1740300.0|         4|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|   2004-02-27|  24|1875200.0|         9|
+---+---------+--------------+--------------------+-------------+----+---------+----------+
only showing top 20 rows

In [24]:
df.withColumn("NUEVO_SALARIO",col("SALARIO")*1.05).show(3)

+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|NUEVO_SALARIO|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|     21099.75|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|       9762.9|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|     11395.65|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
only showing top 3 rows

In [34]:
limite_salario_bajo = 5000
inicio_salario_alto = 30000

df.withColumn("TIPO SALARIO", 
              when(col("SALARIO")< limite_salario_bajo, "SALARIO BAJO") \
              .when((col("SALARIO") >= limite_salario_bajo) & (col("SALARIO")< inicio_salario_alto), "SALARIO MEDIO") \
              .otherwise("Salario Alto")).show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA| TIPO SALARIO|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|SALARIO MEDIO|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|SALARIO MEDIO|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|SALARIO MEDIO|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10| SALARIO BAJO|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|SALARIO MEDIO|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|SALARIO MEDIO|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|SALARIO MEDIO|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|SALARIO MEDIO|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|SALARIO MEDIO|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|SALARIO MEDIO|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------------+
only showing top 10 rows

In [35]:
df.withColumnRenamed("SALARIO","SALARY").show()

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD| SALARY|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 4913.0|         8|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|19943.0|         8|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 9501.0|         5|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 1539.0|         5|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 4759.0|         7|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|17403.0|         4|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|   2004-02-27|  24|18752.0|         9|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 20 rows

In [36]:
df.drop("correo").show(10)

+---+---------+--------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|   2001-05-19|  19| 7996.0|         7|
+---+---------+--------------+-------------+----+-------+----------+
only showing top 10 rows

In [37]:
df.show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [48]:
fecha_actual = datetime.now()
print("hora del servidor: ", fecha_actual)
fecha_peru = fecha_actual - timedelta(hours = 5)
print("hora del Peru: ", fecha_peru)

print(fecha_actual)
periodo = fecha_actual.strftime('%Y%m')
print(periodo)

hora del servidor:  2025-03-04 02:32:02.245912
hora del Peru:  2025-03-03 21:32:02.245912
2025-03-04 02:32:02.245912
202503

In [39]:
df.withColumn("periodo",lit("202503")).show(19)

+---+---------+--------------+--------------------+-------------+----+-------+----------+-------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|periodo|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5| 202503|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2| 202503|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3| 202503|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10| 202503|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1| 202503|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7| 202503|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5| 202503|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5| 202503|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3| 202503|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7| 202503|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 4913.0|         8| 202503|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|19943.0|         8| 202503|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 9501.0|         5| 202503|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2| 202503|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 1539.0|         5| 202503|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2| 202503|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6| 202503|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 4759.0|         7| 202503|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|17403.0|         4| 202503|
+---+---------+--------------+--------------------+-------------+----+-------+----------+-------+
only showing top 19 rows

In [52]:
df.where((col("id_empresa") == 5) & (col("salario") >= 10000)).show(5)

+---+------+--------------+--------------------+-------------+----+-------+----------+
| ID|NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+------+--------------+--------------------+-------------+----+-------+----------+
|  1|  Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  8| Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
| 50|  Ross|1-587-285-1837|at.risus@milacini...|   2009-11-03|  31|19092.0|         5|
| 59|Quemby|      930-5882|lorem.ut.aliquam@...|   2017-10-04|  26|12092.0|         5|
| 86|  Jack|      860-9554|parturient.montes...|   2017-03-10|  58|14473.0|         5|
+---+------+--------------+--------------------+-------------+----+-------+----------+

In [55]:
lista_empresa = [2,3,5]

In [58]:
df.filter(col("id_empresa").isin(lista_empresa)).show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 9501.0|         5|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 1539.0|         5|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [59]:
df.filter(~col("id_empresa").isin(lista_empresa)).show(10)

+---+-------+--------------+--------------------+-------------+----+-------+----------+
| ID| NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+-------+--------------+--------------------+-------------+----+-------+----------+
|  4|  Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|   Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
| 10| Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
| 11|Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 4913.0|         8|
| 12| Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|19943.0|         8|
| 17|   Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6|
| 18|   Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 4759.0|         7|
| 19|  Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|17403.0|         4|
| 20|  Emery|1-672-840-0264|     at.nisi@vel.org|   2004-02-27|  24|18752.0|         9|
+---+-------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [61]:
df.filter(col("id_empresa").isin(1,2,3)).show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
| 22|     Kibo|      970-8006|scelerisque.lorem...|   2012-04-25|  22| 7449.0|         2|
| 29|     Jana|1-564-106-5562|sed.dolor.Fusce@S...|   2008-10-18|  39| 6483.0|         2|
| 31|    Rylee|      306-5447| Sed.nunc@turpis.edu|   2001-09-17|  47|21591.0|         3|
| 32|   Gisela|      406-8031|Praesent.luctus@d...|   2002-08-21|  67| 6497.0|         1|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [62]:
df.filter(col("nombre").like("%ar%")).show(10)

+---+-------+--------------+--------------------+-------------+----+-------+----------+
| ID| NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+-------+--------------+--------------------+-------------+----+-------+----------+
|  1|   Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  7|   Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
| 17|   Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6|
| 21|Carissa|1-300-877-0859|dignissim.pharetr...|   2011-10-16|  31| 1952.0|        10|
| 25|  Pearl|1-850-202-3373|vel.convallis@rho...|   2018-12-21|  52|14756.0|         6|
| 39|Carolyn|      846-7060|metus.Aenean.sed@...|   2013-05-29|  64|22838.0|         6|
| 54|   Lars|1-554-600-0855|     commodo@Nam.edu|   2005-06-22|  25|20573.0|         1|
| 60|Bernard|      492-8823|vel.faucibus@Done...|   2005-04-15|  27|10825.0|         2|
| 76|   Omar|1-325-245-9578|elit.erat@utodiov...|   2012-11-19|  34|12163.0|         6|
| 87|  Karly|1-644-725-7241|tempor.erat@feugi...|   2011-06-12|  25| 3715.0|         1|
+---+-------+--------------+--------------------+-------------+----+-------+----------+

In [64]:
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)
df.count()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

10

In [67]:
df.distinct().show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|      Michael|     Sales|  4600|
|         Saif|     Sales|  4100|
|        Scott|   Finance|  3300|
|         Jeff| Marketing|  3000|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
+-------------+----------+------+

In [68]:
df.dropDuplicates().show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|      Michael|     Sales|  4600|
|         Saif|     Sales|  4100|
|        Scott|   Finance|  3300|
|         Jeff| Marketing|  3000|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
+-------------+----------+------+

In [71]:
df.dropDuplicates(["department","salary"]).show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

In [85]:
df.show()

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
| 11|  Melyssa|      596-7736|vel@vulputateposu...|   2008-10-14|  48| 4913.0|         8|
| 12|   Tanner|1-739-776-7897|arcu.Aliquam.ultr...|   2011-05-10|  24|19943.0|         8|
| 13|   Trevor|      512-1955|Nunc.quis.arcu@eg...|   2010-08-06|  34| 9501.0|         5|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 15|    Wanda|      359-6973|Nam.nulla.magna@I...|   2005-08-21|  27| 1539.0|         5|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
| 17|     Omar|      720-1543|Phasellus.vitae.m...|   2014-06-24|  60| 6851.0|         6|
| 18|     Owen|1-167-335-7541|     sociis@erat.com|   2002-04-09|  34| 4759.0|         7|
| 19|    Laura|1-974-623-2057|    mollis@ornare.ca|   2017-03-09|  70|17403.0|         4|
| 20|    Emery|1-672-840-0264|     at.nisi@vel.org|   2004-02-27|  24|18752.0|         9|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 20 rows

In [86]:
df.sort(col("id_empresa")).show(30)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
| 32|   Gisela|      406-8031|Praesent.luctus@d...|   2002-08-21|  67| 6497.0|         1|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
| 54|     Lars|1-554-600-0855|     commodo@Nam.edu|   2005-06-22|  25|20573.0|         1|
| 70|     Suki|1-654-418-8537|varius.orci.in@co...|   2010-05-15|  43|12029.0|         1|
| 87|    Karly|1-644-725-7241|tempor.erat@feugi...|   2011-06-12|  25| 3715.0|         1|
| 93|   Althea|1-163-702-1244|sit.amet.nulla@el...|   2002-09-01|  24| 8818.0|         1|
| 99|      Ray|1-420-314-2886|ac.risus.Morbi@te...|   2011-12-30|  26| 5570.0|         1|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
| 21|  Carissa|1-300-877-0859|dignissim.pharetr...|   2011-10-16|  31| 1952.0|        10|
| 44|   Azalia|      582-8465|     eu.odio@a.co.uk|   2009-12-14|  27|16735.0|        10|
| 46|   Camden|1-663-540-3304|leo@dignissimphar...|   2003-10-19|  30| 7860.0|        10|
| 47|   Vernon|      735-8400|leo@mattisInteger...|   2000-11-23|  35| 7109.0|        10|
| 73|    Fiona|1-866-258-8730|sit@sedsemegestas...|   2009-09-27|  42| 9960.0|        10|
| 74|  Kaitlin|      817-0415|Etiam.laoreet.lib...|   2009-05-22|  56| 6515.0|        10|
| 79|   Philip|1-113-528-3055|nisi.Cum@malesuad...|   2012-09-17|  51| 3919.0|        10|
| 82|    Cally|1-658-890-5167|        id@dolor.edu|   2008-12-13|  67|24575.0|        10|
| 67|    Buffy|1-538-190-2276|          amet@at.ca|   2005-10-21|  38|15116.0|         2|
| 14|    Allen|      733-2795|felis.Donec@necle...|   2005-03-07|  59|16289.0|         2|
| 16|    Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
| 22|     Kibo|      970-8006|scelerisque.lorem...|   2012-04-25|  22| 7449.0|         2|
| 29|     Jana|1-564-106-5562|sed.dolor.Fusce@S...|   2008-10-18|  39| 6483.0|         2|
| 33|      Jin|1-620-779-3366|est.Nunc.ullamcor...|   2016-11-07|  42|22038.0|         2|
| 43|    Yetta|      986-0220|vitae@dapibusrutr...|   2008-03-24|  61|21452.0|         2|
| 60|  Bernard|      492-8823|vel.faucibus@Done...|   2005-04-15|  27|10825.0|         2|
| 66|   Adrian|      220-8905|enim@mollisPhasel...|   2018-03-15|  46|22953.0|         2|
| 78|   Lenore|1-817-973-5592|Nunc.pulvinar.arc...|   2014-07-07|  57| 1483.0|         2|
| 81|      Joy|1-379-384-0646|mi.Aliquam@nislNu...|   2015-11-15|  19| 1256.0|         2|
| 83|  Giselle|1-515-799-6913|ipsum.Suspendisse...|   2002-10-31|  45| 2503.0|         2|
| 96|     Amos|      729-4665|non.lacinia@phare...|   2017-11-27|  42|15855.0|         2|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 30 rows

In [87]:
df.withColumn("id_empresa",col("id_empresa").cast("INTEGER")).show(10)

+---+---------+--------------+--------------------+-------------+----+-------+----------+
| ID|   NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|id_empresa|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
|  1|     Carl|1-745-633-9145|arcu.Sed.et@ante....|   2004-04-23|  32|20095.0|         5|
|  2|Priscilla|      155-2498|Donec.egestas.Ali...|   2019-02-17|  34| 9298.0|         2|
|  3|  Jocelyn|1-204-956-8594|amet.diam@loborti...|   2002-08-01|  27|10853.0|         3|
|  4|    Aidan|1-719-862-9385|euismod.et.commod...|   2018-11-06|  29| 3387.0|        10|
|  5|  Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
|  6|     Bert|      797-4453|a.felis.ullamcorp...|   2017-04-25|  70| 7800.0|         7|
|  7|     Mark|1-680-102-6792|Quisque.ac@placer...|   2006-04-21|  52| 8112.0|         5|
|  8|    Jonah|      214-2975|eu.ultrices.sit@v...|   2017-10-07|  23|17040.0|         5|
|  9|    Hanae|      935-2277|          eu@Nunc.ca|   2003-05-25|  69| 6834.0|         3|
| 10|   Cadman|1-866-561-2701|orci.adipiscing.n...|   2001-05-19|  19| 7996.0|         7|
+---+---------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [105]:
df2 = df.orderBy(col("id_empresa").cast("integer").asc(),col("edad").cast("integer")).show(10)

+---+-------+--------------+--------------------+-------------+----+-------+----------+
| ID| NOMBRE|      TELEFONO|              CORREO|FECHA_INGRESO|EDAD|SALARIO|ID_EMPRESA|
+---+-------+--------------+--------------------+-------------+----+-------+----------+
| 93| Althea|1-163-702-1244|sit.amet.nulla@el...|   2002-09-01|  24| 8818.0|         1|
| 54|   Lars|1-554-600-0855|     commodo@Nam.edu|   2005-06-22|  25|20573.0|         1|
| 87|  Karly|1-644-725-7241|tempor.erat@feugi...|   2011-06-12|  25| 3715.0|         1|
| 99|    Ray|1-420-314-2886|ac.risus.Morbi@te...|   2011-12-30|  26| 5570.0|         1|
|  5|Leandra|      839-8044|at@pretiumetrutru...|   2002-10-10|  41|22102.0|         1|
| 70|   Suki|1-654-418-8537|varius.orci.in@co...|   2010-05-15|  43|12029.0|         1|
| 32| Gisela|      406-8031|Praesent.luctus@d...|   2002-08-21|  67| 6497.0|         1|
| 81|    Joy|1-379-384-0646|mi.Aliquam@nislNu...|   2015-11-15|  19| 1256.0|         2|
| 22|   Kibo|      970-8006|scelerisque.lorem...|   2012-04-25|  22| 7449.0|         2|
| 16|  Alden|      341-8522|odio@morbitristiq...|   2006-12-05|  26| 3377.0|         2|
+---+-------+--------------+--------------------+-------------+----+-------+----------+
only showing top 10 rows

In [106]:
#extract
df2.printSchema()

AttributeError: 'NoneType' object has no attribute 'printSchema'

In [107]:
df2.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [109]:
df.groupBy("id_empresa").sum("salario","edad").show()

+----------+------------+---------+
|id_empresa|sum(salario)|sum(edad)|
+----------+------------+---------+
|         7|    106710.0|      311|
|         9|     91678.0|      226|
|         3|    151700.0|      436|
|         6|    135243.0|      650|
|         1|     79304.0|      251|
|         8|     73319.0|      359|
|         5|    136609.0|      577|
|        10|     82012.0|      368|
|         4|    155503.0|      311|
|         2|    156377.0|      557|
+----------+------------+---------+

In [111]:
df.groupBy("id_empresa").sum("salario").show()

+----------+------------+
|id_empresa|sum(salario)|
+----------+------------+
|         7|    106710.0|
|         9|     91678.0|
|         3|    151700.0|
|         6|    135243.0|
|         1|     79304.0|
|         8|     73319.0|
|         5|    136609.0|
|        10|     82012.0|
|         4|    155503.0|
|         2|    156377.0|
+----------+------------+

In [125]:
df = df.withColumn("salario",col("salario").cast("float"))
df.printSchema()
df.groupby("id_empresa").agg(sum("salario").alias("planilla"),avg("edad").alias("prom_edad"),max("salario").alias("max_salary")).show()

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- TELEFONO: string (nullable = true)
 |-- CORREO: string (nullable = true)
 |-- FECHA_INGRESO: string (nullable = true)
 |-- EDAD: integer (nullable = true)
 |-- salario: float (nullable = true)
 |-- ID_EMPRESA: string (nullable = true)

+----------+--------+------------------+----------+
|id_empresa|planilla|         prom_edad|max_salary|
+----------+--------+------------------+----------+
|         7|106710.0| 34.55555555555556|   21556.0|
|         9| 91678.0|37.666666666666664|   23051.0|
|         3|151700.0| 39.63636363636363|   23820.0|
|         6|135243.0|              50.0|   22838.0|
|         1| 79304.0|35.857142857142854|   22102.0|
|         8| 73319.0|39.888888888888886|   19943.0|
|         5|136609.0|41.214285714285715|   20095.0|
|        10| 82012.0|40.888888888888886|   24575.0|
|         4|155503.0|            38.875|   24305.0|
|         2|156377.0|39.785714285714285|   22953.0|
+----------+--------+------------------+----------+

In [127]:
df.groupby("id_empresa").agg(sum("salario").alias("planilla"), \
                             avg("edad").alias("prom_edad"), \
                             max("salario").alias("max_salary")\
                            ).where(col("PLANILLA")>=100000).show(10)

+----------+--------+------------------+----------+
|id_empresa|planilla|         prom_edad|max_salary|
+----------+--------+------------------+----------+
|         7|106710.0| 34.55555555555556|   21556.0|
|         3|151700.0| 39.63636363636363|   23820.0|
|         6|135243.0|              50.0|   22838.0|
|         5|136609.0|41.214285714285715|   20095.0|
|         4|155503.0|            38.875|   24305.0|
|         2|156377.0|39.785714285714285|   22953.0|
+----------+--------+------------------+----------+

In [128]:

ruta_guardado = 'gs://dmc_datalake_dde_11_javp/archivos/persona_output/'

df.write.mode("overwrite").partitionBy("id_empresa").format("parquet").save(ruta_guardado)